<div class="banner">
    <div class="mobile-show">
        <h1>The Gift Guide</h1>
        <p>Discover Joy: Your Ultimate Holiday Gift Destination</p>
    </div>
    <div class="banner-hold">
        <div class="text-hold">
            <h1 class="desktop-show">The Gift Guide</h1>
            <p class="desktop-show">Disover Joy: Your Ultimate Holiday Gift Destination. Explore our curated selection and find the perfect gifts to delight your loved ones for this holiday season.</p>
            <a class="btn" href="#">Shop Now <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
</div>
<div class="line-text">
    <div class="container">
        <p class="desktop-show"> SUSTAINABLE, ETHICALLY MADE CLOTHES IN SIZES XXL TO 6XL</p>
        <p class="mobile-show">SUSTAINABLE, ETHICALLY MADE CLOTHES</p>
    </div>
</div>