<link rel="stylesheet" href="{{ 'theme.liquid' | asset_url }}" media="print" onload="this.media='all'">

<header id="header">
  <div class="container">
    <div class="header-hold">
      <a href="#" id="menu-icon">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      </a>
      <div class="logo"><a href="/"><img src="tisso_vision_logo.svg" alt="Tisso Vision Logo"></a></div>
      <p class="desktop-show">Find the ideal gift for your loved ones.</p>
      <div class="text-btn">
        <p class="mobile-show">Find the ideal gift for you loved ones.</p>
        <a class="btn chose-gift" href="#"> choose gift <i class="fa-solid fa-arrow-right-long"></i></a>
        </div>
    </div>
  </div>
</header>