<div class=""product-grid">
    <div class="container">
        <h2>Tisso vission in the wild</h2>
        <div class="grid-container">
            <div class="grid-item" data-title="Product 1" data-description="This is product 1 description." data-image="product-image.png">
                <img src="product-image.png" alt="Product Image">
                <div class="plus-icon">+</div>
            </div>
                <div class="grid-item" data-title="Product 2" data-description="This is product 2 description." data-image="product-image.png">
                <img src="product-image.png" alt="Product Image">
                <div class="plus-icon">+</div>
            </div>
                <div class="grid-item" data-title="Product 3" data-description="This is product 3 description." data-image="product-image.png">
                <img src="product-image.png" alt="Product Image">
                <div class="plus-icon">+</div>
            </div>
                <div class="grid-item" data-title="Product 4" data-description="This is product 4 description." data-image="product-image.png">
                <img src="product-image.png" alt="Product Image">
                <div class="plus-icon">+</div>
            </div>
                <div class="grid-item" data-title="Product 5" data-description="This is product 5 description." data-image="product-image.png">
                <img src="product-image.png" alt="Product Image">
                <div class="plus-icon">+</div>
            </div>
                <div class="grid-item" data-title="Product 6" data-description="This is product 6 description." data-image="product-image.png">
                <img src="product-image.png" alt="Product Image">
                <div class="plus-icon">+</div>
            </div>
        </div>
        <div class="pop-up" id="productPopup">
            <div class="popup-content">
                <span class="popup-close">&times;</span>
                <img id="popupImage" src="" alt="">
                <h2 id="popupTitle"></h2>
                <p id="popupDescription"></p>
            </div>
    </div>
</div>